@import "../../../assets/styles/utilities/custom-theme";
@import "../../../assets/styles/utilities/mixin";

.dashboard-sidebar {
  z-index: 1040;

  .nav {
    .nav-link {
      margin: 18px auto 0;
      background-repeat: no-repeat;
      background-position: center;
      height: 55px;
      text-indent: -9999px;
      position: relative;
      @extend .w-100;
      @extend .p-0;
      &.ic-patent {
        background-image: url(../../../assets/images/ic-patent.png);
      }
      &.ic-trademark {
        background-image: url(../../../assets/images/ic-trademark.png);
      }
      &.ic-copyrights {
        background-image: url(../../../assets/images/ic-copyrights.png);
      }
      &.ic-industrial-design {
        background-image: url(../../../assets/images/ic-industrial-design.png);
      }
      &.ic-plant-varieties {
        background-image: url(../../../assets/images/ic-plant-varieties.png);
      }
      &.ic-integrated-circuits {
        background-image: url(../../../assets/images/ic-integrated-circuits.png);
      }
      &.active {
        @include border(2px, 100%, 0 , transparent);
        @include border-end(-1px);
        &.ic-patent {
          &::after {
            background-color: $patents;
          }
        }
        &.ic-trademark {
          &::after {
            background-color: $trademark;
          }
        }
        &.ic-copyrights {
          &::after {
            background-color: $copyright;
          }
        }
        &.ic-industrial-design {
          &::after {
            background-color: $industrial-designs;
          }
        }
        &.ic-plant-varieties,
        &.ic-integrated-circuits {
          &::after {
            background-color: $gray;
          }
        }
      }
    }
    
  }
}
