@import "../../../assets/styles/utilities/custom-theme";

.dashedBorder {
  border: $border-width-md dashed $primary;
}

.uploadImageWrapper {
  .error.dashedBorder{
    border-color: $danger-dark;
  }

  .image-item {
    border: $border-width solid $gray-400;
    border-radius: $border-radius;
    position: absolute;
  }

  .imageView {
    width: 70px;
    height: 46px;
    @extend .m-2;
  }
}

.workStreamView {
  .image-item {
    top: 40px;
    left: 217px;

    html[dir="rtl"] & {
      left: auto;
      right: 217px;
    }

    @include media-breakpoint-down(xl) {
      left: 16px;
      top: 153px;

      html[dir="rtl"] & {
        left: auto;
        right: 16px;
      }
    }

    @include media-breakpoint-down(sm) {
      left: 2px;
      top: 241px;

      html[dir="rtl"] & {
        left: auto;
        right: 2px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 60px;
  }

  .dashedBorder {
    padding: 32px 0;
  }
}

.advancedMode{
  input{
    @include media-breakpoint-up(md) {
      padding-left: 150px;

      html[dir="rtl"] & {
        padding-left: auto;
        padding-right: 150px;
      }
    }
  }

  .image-item {
    left: 16px;
    top: 53px;

    html[dir="rtl"] & {
      right: 16px;
      left: auto;
    }

    @include media-breakpoint-down(sm) {
      top: 140px;
      left: 0;

      html[dir="rtl"] & {
        right: 0;
        left: auto;
      }
    }
  }
}
