@import"../../../assets/styles/utilities/custom-theme";

.btn {
  text-decoration: none;
}

.appBtn {

  &.btn-primary {
    color: var(--bs-white) !important;
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
    &:hover {
      color: var(--bs-primary) !important;
      background-color: var(--bs-white) !important;
    }
  }
  
  &.btn-link {
    color: var(--bs-primary) !important;
  }
  &.btn-danger {
    background-color: var(--bs-danger) !important;
    border-color: var(--bs-danger) !important;
  }
  &.btn-primary-dark {
    background-color: var(--bs-primary-dark) !important;
    color: var(--bs-white) !important;
  }
  
  &.btn-outline-primary {
    border-color: var(--bs-primary) !important;
    color: var(--bs-primary) !important;
    &:hover,
    &:active{
      color: var(--bs-white) !important;
      background-color: var(--bs-primary) !important;
    }
  }

  &.btn:first-child:active {
    border-color: transparent;
  }


  &.has-icon {
    padding:8px 16px !important;
  }

  &.dropdown-toggle {
    font-family: $font-regular;
    position: relative;
    color: var(--bs-primary-dark);
    &.no-arrow {
      &::after {
        display: none;
      }
    }
    &:not(.no-arrow) {
      html[dir="ltr"] & {
        padding-right: 31px !important;
      }
      html[dir="rtl"] & {
        padding-left: 31px !important;
      }
    }
    &::after {
      font-family: 'FontAwesome' !important;
      content: "\f107" !important;
      border: none !important;
      position: absolute;
      color: var(--bs-primary);
      top: 8px;
      html[dir="ltr"] & {
        margin: 0 5px 0 10px;
      }
      html[dir="rtl"] & {
        margin: 0 10px 0 5px;
      }
    }
    &:hover {
      &::after {
        color: var(--bs-primary);
      }
    }
    &[disabled] {
      &::after {
        color: var(--bs-gray-600);
      }
    }
  }

  &.disabled, :disabled {
    background-color: var(--bs-gray-500) !important;
    border: none;
  }
}
.dropdown-menu.show {
  position: absolute !important;
  min-width: 100%;
}
