@import "../../../../../assets/styles/utilities/variables";
@import "~bootstrap/scss/mixins";

.recent-search .dropdown-menu[data-bs-popper] {
  top: 57px;
  width: 300px;
  border: none;
  box-shadow: $box-shadow;

  html[dir="rtl"] & {
    left: 0;
    right: auto;
  }

  html[dir="ltr"] & {
    right: 0;
    left: auto;
  }

  @include media-breakpoint-up(md) {
    width: 386px;
  }

  .dropdown-item {
    border-bottom: $border-width solid $gray-300;
  }
}

.recent-search-icon,
.recent-search-date
{
  color: var(--bs-gray-600);
}

.dropdown-item.no-history  {
  color: var(--bs-primary);
  &:hover{
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }
}

.recent-search-query {
  color: var(--bs-gray-700);
}

.dropdown-item:active {

  .recent-search-icon,
  .recent-search-date,
  .recent-search-query,
  .no-history {
    color: var(--bs-white);
  }
}
