@import "../../assets/styles/utilities/custom-theme";

.play-icon {
  color:  var(--bs-primary-dark);

  html[dir="rtl"] & {
    transform: rotateY(180deg);
  }
}

.active-query, .run-query:hover {
  background-color:  var(--bs-primary);

  .play-icon {
    color: var(--bs-white);
  }
}

.sq-bg {
  background-color: var(--bs-primary-01);
}
