@import "../../assets/styles/utilities/custom-theme";

.play-icon {
  color: $primary-dark;
}

.active-query, .run-query:hover {
  background-color: $primary;

  .play-icon {
    color: $white;
  }
}
