@import "../../assets/styles/utilities/custom-theme";

.expand-icon {
  transform: rotateY(180deg);
}

.select {
  width: 250px;
}

.label {
  width: 145px;
}

.iprWrapper {
  height: 80vh;
  overflow-y: auto;
  @extend .me-2;
}
