@import "../../assets/styles/utilities/custom-theme";

.expand-icon {
  transform: rotateY(180deg);
}

.select {
  width: 250px;
}

.label {
  width: 145px;
}

.iprWrapper {
  height: 80vh;
  overflow-y: auto;
  @extend .me-2;
}

.img {
  width: 193px;
  height: 100px;
  border: $border-width solid $gray-400;

  img {
    width: 100%;
  }
}

.imgWithZoom{
  width: 486px;
  height: 100%;
}

.headerImg {
  width: 150px;
  img {
    width: 150px;
  }
}
