@import "../../../../assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

div[class$="indicatorContainer"] {
  background-color: $gray-200;
  border-radius: 0 $border-radius $border-radius 0;

  svg {
    color: $gray;
  }
}

span[class$="indicatorSeparator"] {
  display: none;
}

div[class$="singleValue"] {
  position: absolute;
  bottom: 5px;
  left: 4px;
  font-size: $font-size-sm;

  html[dir="rtl"] & {
    left: auto;
    right: 4px;
  }
}

////// selectWithSibling
.selectWithSibling {
  @include media-breakpoint-up(xl) {
    div[class$="Control"] {
      border-right: 0;
      border-radius: 5px 0 0 5px;

      html[dir="rtl"] & {
        border-left: 0;
        border-right: $border-width solid $gray-400;
        border-radius: 0 5px 5px 0;
      }
    }
  }
}

.css-2jkpo2-option {
  color: $white !important;
  background-color: $primary !important;
}

////// small select
.smSelect {
  div[class$="ValueContainer"] {
    height: 57px;
  }
}

///// lg select
.lgSelect {

  div[class$="container"] {
    height: 85px;

    >div:first-of-type {
      height: 87px;

      html[dir="ltr"] & {
        border-radius: 5px 0 0 5px;
        border-right: none;
      }

      html[dir="rtl"] & {
        border-radius: 0 5px 5px 0;
        border-left: none;
      }

      >div:nth-child(2) {
        background-color: $gray-200;
      }
    }
  }

  input {
    margin-top: 30px !important;
    margin-left: 5px !important;

    html[dir="rtl"] & {
      margin-left: auto !important;
      margin-right: 5px !important;
    }
  }

  div[class$="singleValue"] {
    bottom: 14px;
  }
}

////// customSelect
.customSelect {
  div[class$="ValueContainer"] {
    font-family: $font-medium;
    height: auto;

    html[dir="ltr"] & {
      padding-left: 0;
    }

    html[dir="rtl"] & {
      padding-right: 0;
    }

    input {
      color: $primary !important;
    }
  }

  div[class$="indicatorContainer"] {
    background-color: transparent;
  }

  div[class$="Control"] {
    border: none;
  }

  div[class$="singleValue"],
  input {
    color: $primary;
    font-size: 24px;
    bottom: 0;
    position: relative;
    margin: 0;
    font-family: $font-medium;
    border-bottom: $border-width dashed $gray;
    top: 1px;
    height: 35px;

    html[dir="ltr"] & {
      left: 0;
    }

    html[dir="rtl"] & {
      right: 0;
    }
  }

  div[class$="container"] {
    min-width: 140px;

    >div:first-of-type {
      border: none;
    }
  }
}

///// select-2
.select-2 {
  div[class$="Control"] {
    border: none;
    border-bottom: $border-width solid $gray-400;
    border-radius: 0;
  }

  div[class$="indicatorContainer"] {
    background-color: transparent;
  }

  div[class$="singleValue"] {
    margin: 0 7px 0 0;

    html[dir="ltr"] & {
      left: 0;
    }

    html[dir="rtl"] & {
      right: 0;
    }
  }

  input {
    margin: 47px 0 !important;
  }

  div[class$="ValueContainer"] {
    height: 72px;
    padding: 2px 0;
  }

  div[class$="singleValue"] {
    bottom: 54px;
  }

  div[class$="indicatorContainer"] {
    background-color: transparent;
    margin-top: 25px;
  }

  div[class$="container"] {
    padding: 0;

    >div:first-of-type {
      border-width: 0 0 $border-width;
      border-radius: 0;
      height: 79px;
    }
  }
}

///// defaultSelect
.defaultSelect {

  div[class$="indicatorContainer"] {
    background-color: transparent;
  }

  input {
    font-size: $font-size-sm !important;
  }
}

//// sm select with inner label
.smWithLabel {
  input {
    margin-top: 20px !important;
    margin-left: 5px !important;

    html[dir="rtl"] & {
      margin-right: 5px !important;
      margin-left: 0 !important;
    }
  }
}
