@import "../../../../assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

.css-1xc3v61-indicatorContainer,
.css-15lsz6c-indicatorContainer,
.css-1hb7zxy-IndicatorsContainer {
  background-color: $gray-200;
  border-radius: 0 4px 4px 0;

  svg {
    color: $gray;
  }
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.lg-select {
  input {
    margin-top: 30px !important;
    margin-left: 5px !important;
  }
}

.css-1dimb5e-singleValue {
  position: absolute;
  bottom: 17px;
  left: 4px;
}

.css-1fdsijx-ValueContainer {
  height: 85px;
}

.select-with-sibling {
  @include media-breakpoint-up(md) {
    .css-jvqvmn-Control {
      border-right: 0;
      border-radius: 0;
    }

    .css-1hb7zxy-IndicatorsContainer {
      border-radius: 0;
    }
  }
}

//// sm select
.sm-select {
  .css-1fdsijx-ValueContainer {
    height: 57px;
  }
}

/////custom select
.custom-select {
  border-bottom: $border-width dashed $primary;

  .css-jvqvmn-Control {
    border: none;
  }

  .css-1hb7zxy-IndicatorsContainer, .css-1xc3v61-indicatorContainer {
    background-color: transparent;
  }

  .css-1fdsijx-ValueContainer {
    height: auto;
  }
}
