@import "../../../../assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

div[class$="indicatorContainer"],
div[class$="indicatorsContainer"] {
  background-color: $gray-200;
  border-radius: 0 4px 4px 0;

  svg {
    color: $gray;
  }
}

span[class$="indicatorSeparator"] {
  display: none;
}

div[class$="singleValue"] {
  position: absolute;
  bottom: 8px;
  left: 4px;
}

div[class$="ValueContainer"] {
  height: 85px;
}


////// selectWithSibling
.selectWithSibling {
  @include media-breakpoint-up(md) {
    div[class$="Control"] {
      border-right: 0;
      border-radius: 0;
    }

    div[class$="IndicatorsContainer"] {
      border-radius: 0;
    }
  }

  div[class$="IndicatorsContainer"] {
    background-color: $gray-200;
  }
}

.css-2jkpo2-option{
  color: $white !important;
  background-color: $primary !important;
}

////// small select
.smSelect {
  div[class$="ValueContainer"] {
    height: 57px;
  }
}

///// lg select
.lgSelect {
  input {
    margin-top: 30px !important;
    margin-left: 5px !important;
  }
}

////// customSelect
.customSelect {
  div[class$="ValueContainer"] {
    border-bottom: $border-width dashed $primary;
    font-size: 24px;
    font-family: $font-medium;
    height: auto;

    input {
      color: $primary !important;
    }
  }

  div[class$="indicatorsContainer"],
  div[class$="indicatorContainer"] {
    background-color: transparent;
  }

  div[class$="Control"] {
    border: none;
  }
}

///// select-2
.select-2 {
  div[class$="Control"] {
    border: none;
    border-bottom: $border-width solid $gray-400;
    border-radius: 0;
  }

  div[class$="IndicatorsContainer"],
  div[class$="indicatorContainer"] {
    background-color: transparent;
  }

  div[class$="singleValue"] {
    margin: 0 7px;
  }

  input {
    margin: 33px 8px !important;
  }

  div[class$="ValueContainer"] {
    height: 72px;
  }

  div[class$="singleValue"] {
    bottom: 37px;
  }

  div[class$="indicatorContainer"] {
    background-color: transparent;
  }
}

///// defaultSelect
.defaultSelect {
  div[class$="indicatorContainer"],
  div[class$="IndicatorsContainer"]{
    background-color: transparent;
  }
}

//// sm select with inner label
.smWithLabel {
  input {
    margin-top: 20px !important;
    margin-left: 5px !important;
  }
}
