@import "../../assets/styles/utilities/variables";
@import "../../assets/styles/utilities/mixin";

.user-manual {
  z-index: 9999 !important;
  .modal-90w {
    width: 90%;
  }
  .modal-title {
    width: 100%;
    text-align: center;
    h4 {
      margin-bottom: 0;
      margin-top:  1.25rem;
    }
  }
  .btn-close {
    html[data-bs-theme="dark"] & {
      filter: unset !important;
    }
    html[dir="ltr"] & {
      margin-right: 5px;
    }
    html[dir="rtl"] & {
      margin-left: 5px;
    }
  }
  .show-content {
    border-color: var(--bs-gray-300) !important;
    min-height: 600px;
  }
}
.user-manual-sections {
  .appBtn {
    width: 96%;
    html[dir="ltr"] & {
      margin-left: 5px;
    }
    html[dir="rtl"] & {
      margin-right: 5px;
    }
  }
  .fixed-scroll {
    @include scrollbar;
    height: 600px;
    overflow-y: auto;
    padding-bottom: 20px;
  }
}
.search-wrapper {
  .form-control, .btn-filter {
    height: 57px;
  }
  .form-control {
    background-color: var(--bs-white);
    border: $border-width solid var(--bs-gray-400);
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    html[dir="ltr"] & {
      padding-left: 15px;
      padding-right: 80px;
    }
    html[dir="rtl"] & {
      padding-left: 80px;
      padding-right: 15px;
    }
    &:focus-visible,
    &:focus {
      border-color: var(--bs-gray-400);
      outline: none;
    }
  }
  .btn-filter {
    width: 70px;
    &:hover {
      background-color: var(--bs-primary) !important;
      color: var(--bs-white) !important;
    }
    html[dir="ltr"] & {
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    html[dir="rtl"] & {
      left: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
