@import "../../assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

.select {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 200px;
  }
}

.workStreams {
  width: 140px;
}

@include media-breakpoint-down(lg) {
  .closed {
    height: 60px;
  }
}

.searchResultsView {
  position: absolute;
  background-color: $white;
  z-index: 10;
  top: 91px;
  right: 13px;
  width: 96%;

  html[dir="rtl"] & {
    right: auto;
    left: 13px;
  }

  @include media-breakpoint-up(lg) {
    width: calc(100% - 288px);
  }

  @include media-breakpoint-down(lg) {
    top: 156px;
  }

  @include media-breakpoint-down(md) {
    top: 215px;
    width: 94%;
  }

  .uploadImageWrapper {
    .imageView {
      width: 49px;
      height: 30px;
      margin: 5px;
    }
  }

  .imgUploaded {
    .image-item {
      top: -51px;
      height: 43px;
    }
  }

  .removeImg {
    position: relative;

    .fa-xmark {
      position: absolute;
      top: 5px;
      right: 5px;

      html[dir="rtl"] & {
        right: auto;
        left: 5px;
      }
    }
  }

  .errorMsg {
    margin-left: 33px;
    display: flex;

    html[dir="rtl"] & {
      margin-right: 33px;
      margin-left: auto;
    }
  }

  .imgUploaded {
    @include media-breakpoint-up(md) {
      input {
        padding-left: 154px;

        html[dir="rtl"] & {
          padding-right: 154px;
          padding-left: auto;
        }
      }
    }
  }

  .dashedBorder {
    padding: 32px;
  }
}
