@import "../../../assets/styles/utilities/custom-theme";

.datePicker {
  width: 100%;

  .rmdp-input {
    height: 56px;
    border: $border-width solid $gray-400;
    border-radius: $border-radius;
    @extend .p-4;
    font-size: $font-size-sm;
    font-family: $font-regular;
    width: 100%;
    html[dir="ltr"] & {
      padding-right: 45px !important;
    }
    html[dir="rtl"] & {
      padding-left: 45px !important;
    }
  }

  .rmdp-container {
    width: 100%;
  }

  .icon-ic-calendar {
    position: absolute;
    top: 18px;
    html[dir="ltr"] & {
      right: 16px;
    }
    html[dir="rtl"] & {
      left: 16px;
    }
  }

  .rmdp-header-values {
    color: $primary;
    font-family: $font-medium;
  }

  .rmdp-arrow {
    width: 10px;
    height: 10px;
    border-color: $primary;
  }

  .rmdp-week-day {
    color: $primary-dark;
    font-size: $font-size-xs;
    font-family: $font-medium;
    text-transform: uppercase;
  }

  .rmdp-day {
    font-family: $font-medium;
    width: 37px;
    height: 40px;
    background-color: $gray-200;
    border-radius: $border-radius;
    margin: 4px;

    &:hover {
      background-color: $gray-200;
    }

    &.rmdp-today {
      background-color: $gray-200;

      span {
        background-color: $gray-200;
        color: $dark;
      }

      &.rmdp-selected {
        span {
          color: $white;
        }
      }

    }

    &.rmdp-day {

      &:hover,
      &:hover span {
        background-color: $primary-dark;
        color: $white;
      }

      span:hover {
        background-color: $primary-dark;
      }
    }

    &.rmdp-selected {
      background-color: $primary;

      &:hover {
        background-color: $primary-dark;

        span:not(.highlight) {
          background-color: $primary-dark;
        }
      }

      span:not(.highlight) {
        background-color: $primary;
        box-shadow: none;

        &:hover {
          background-color: $primary-dark;
        }
      }
    }
  }

  .rmdp-day {
    &.rmdp-range {
      color: $dark;
      background-color: #AFDEDC;
      box-shadow: none;

      span {
        background-color: #AFDEDC;
      }

      &.start,
      &.end {
        border-radius: $border-radius;
        color: $white;
        background-color: $primary;

        &:hover,
        &:hover span {
          background-color: $primary-dark;
        }

        span {
          background-color: $primary;

          &:hover {

            background-color: $primary-dark;
          }
        }
      }
    }
  }

  .sd {
    &:hover {
      border-radius: $border-radius;
    }
  }

  .rmdp-day-hidden {
    span {
      &:hover {
        background-color: $gray-200;
      }
    }
  }

  .rmdp-ep-arrow {
    display: none;
  }

  &.error {
    .rmdp-input {
      border-color: $danger;
      html[dir="ltr"] & {
        padding-right: 65px !important;
      }
      html[dir="rtl"] & {
        padding-left: 65px !important;
      }
    }

    &::after {
      content: "\f06a";
      font-family: FontAwesomeSolid;
      color: $danger;
      position: absolute;
      right: 44px;
      top: 17px;
    }
  }

  &.warning {
    .rmdp-input {
      border-color: $secondary-tangerine;
    }

    &::after {
      content: "\f071";
      font-family: FontAwesomeSolid;
      color: $secondary-tangerine;;
      position: absolute;
      right: 44px;
      top: 17px;
    }
  }
}

.rmdp-arrow-container {
  width: 30px;
  height: 30px;
  padding-top: 5px;

  &:hover {
    background-color: $gray-300;
    box-shadow: none;

    .rmdp-arrow {
      border-color: $primary;
    }
  }
}

.rmdp-calendar {
  padding: 4px 10px;
}

.searchBox {
  .datePickerWrapper {
    &.datePicker, .rmdp-container , .rmdp-input{
      @extend .h-100;
    }
    .rmdp-input {
      margin: 0;
      border-radius: 0;
    }
  }
  .datePicker .icon-ic-calendar {
    top: 36px;
    html[dir="ltr"] & {
      right: 85px;
    }
    html[dir="rtl"] & {
      left: 85px;
    }
  }
  &.style_searchWithImage__jbGoX {
    .datePicker .icon-ic-calendar {
      html[dir="ltr"] & {
        right: 155px;
      }
      html[dir="rtl"] & {
        left: 155px;
      }
    }
  }

}

.search-results-view {
  .icon-ic-calendar {
    top: 20px !important;
  }
}
