.export-results-wrapper {
  .dropdown-toggle {
    width: 130px;
    html[dir="ltr"] & {
      text-align: left;
    }
    html[dir="rtl"] & {
      text-align: right;
    }
    &:after {
      color: var(--bs-white);
      html[dir="ltr"] & {
        right: 10px;
      }
      html[dir="rtl"] & {
        left: 10px;
      }
    }
    &:hover {
      &:after {
        color: var(--bs-white);
      }
    }
  }
  .dropdown-item {
    padding: 8px 16px;
    html[dir="rtl"] & {
      text-align: right;
    }
  }
}
