@import "../../../../assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

.searchBox {
  .datePickerWrapper + .resetSearch {
    html[dir="ltr"] & {
      right: 115px;
    }
    html[dir="rtl"] & {
      left: 115px;
    }
  }
  &.style_searchWithImage__jbGoX {
    .datePickerWrapper + .resetSearch {
      html[dir="ltr"] & {
        right: 195px;
      }
      html[dir="rtl"] & {
        left: 195px;
      }
    }
  }
}
