@import '../../../../assets/styles/utilities/custom-theme';
@import "~bootstrap/scss/mixins";

button.searchIcon {
  right: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 26px 24px;
  font-size: 21px;
  color: $white;
  border-radius: 0 $border-radius $border-radius 0;
  background-color: $primary;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary !important;
    color: $white !important;
  }

  html[dir="rtl"] & {
    left: 0;
    right: auto;
    border-radius: $border-radius 0 0 $border-radius;
  }
}

.clearIcon {
  color: $gray;
  position: absolute;
  right: 85px;
  top: 33px;
  font-size: 20px;

  html[dir="rtl"] & {
    left: 85px;
    right: auto;
  }
}

////smSearch
.smSearch {
  input {
    height: 59px !important;
    html[dir="ltr"] & {
      padding-right: 145px;
    }
    html[dir="rtl"] & {
      padding-left: 145px;
      padding-right: 20px !important;
    }
  }

  .clearIcon {
    top: 16px;
  }

  .searchIcon {
    padding: 12px 24px;
    height: 59px;
  }
}

//// lgSearch
.lgSearch {
  height: 87px !important;
}


//// searchWithSibling
.searchWithSibling  input{
  border-radius: $border-radius $border-radius;

  @include media-breakpoint-up(xl) {
    border-left: 0 !important;
    border-radius: 0 $border-radius $border-radius 0;

    html[dir="rtl"] & {
      border-right: 0 !important;
      border-radius: $border-radius 0 0 $border-radius;
      padding-right: 10px;
    }
  }
}
.imgUploaded {
  &.searchInputWrapper{
    @include media-breakpoint-up(md) {
      input {
        padding-left: 154px !important;

        html[dir="rtl"] & {
          padding-right: 154px;
          padding-left: auto;
        }
      }
    }
  }
}

.imgUploadedResultView {
  &.searchWithImage {
    @include media-breakpoint-up(md) {
      input {
        padding-left: 120px;

        html[dir="rtl"] & {
          padding-right: 120px;
          padding-left: auto;
        }
      }
    }
  }
}
.searchWithImage {
  .clearIcon {
    html[dir="ltr"] & {
      right: 155px;
    }
    html[dir="rtl"] & {
      left: 155px;
    }
  }
}

///// others
.uploadIcon {
  position: absolute;
  top: 34px;
  right: 94px;

  html[dir="rtl"] & {
    right: auto;
    left: 94px;
  }
}

.smSearch {
  .uploadIcon {
    top: 17px;
    right: 90px;

    html[dir="rtl"] & {
      right: auto;
      left: 90px;
    }
  }

  &.searchWithImage {
    .clearIcon {
      top: 16px;
      right: 150px;

      html[dir="rtl"] & {
        right: 150px;
        left: auto;
      }
    }
  }
}
