@import '../../../../assets/styles/utilities/custom-theme';
@import "~bootstrap/scss/mixins";

button.searchIcon {
  right: 0;
  position: absolute;
  top: 0;
  padding: 26px 24px;
  font-size: 21px;
  color: $white;
  border-radius: 0 4px 4px 0;
  background-color: $primary;

  &:hover, &:active, &:focus {
    background-color: $primary !important;
    color: $white !important;
  }
}

.clearIcon {
  color: $gray;
  position: absolute;
  right: 85px;
  top: 33px;
  font-size: 20px;
}

////smSearch
.smSearch{
  input {
    height: 59px !important;
  }

  .clearIcon {
    top: 16px;
  }

  .searchIcon {
    padding: 12px 24px;
  }
}

//// lgSearch
.lgSearch {
  height: 87px !important;
}

//// searchWithSibling
.searchWithSibling input {
  border-radius: $border-radius $border-radius;
  @include media-breakpoint-up(xl) {
    border-left: 0 !important;
    border-radius: 0 $border-radius $border-radius 0 ;
  }
}

.imgUploaded  {
  @include media-breakpoint-up(md) {
    input {
      padding-left: 154px;
    }
  }
}

.imgUploadedResultView {
  @include media-breakpoint-up(md) {
    input {
      padding-left: 120px;
    }
  }
}

.searchWithImage {
  .clearIcon {
    right: 155px;
  }
}

///// others
.uploadIcon {
  position: absolute;
  top: 34px;
  right: 94px;
}

.smSearch {
  .uploadIcon {
    top: 17px;
    right: 90px;
  }

  &.searchWithImage {
    .clearIcon {
      top: 16px;
      right: 150px;
    }
  }
}
