@import "../../../assets/styles/utilities/custom-theme";

.searchFields{
  width: calc(60% - 20px);
}

.condition {
  width: 40%;
}

.wrapper {
  border-radius: $border-radius-lg;

  &:first-of-type {
    border-radius: 0 0 $border-radius-lg $border-radius-lg;

  }

  &:not(:first-of-type){
    .criteria, .dateWrapper {
      width: calc(100% - 26px);
    }
  }
}

.roundedTop0 {
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
}
