@import "../../../assets/styles/utilities/custom-theme";
@import "../../../assets/styles/components/popover";

.float-widget {
  transform: none !important;
  top: 70% !important;
  @include media-breakpoint-up(lg) {
    html[dir="ltr"] & {
      left: 70% !important;
    }
    html[dir="rtl"] & {
      right: 70% !important;
    }
  }
  @include media-breakpoint-up(xl) {
    html[dir="ltr"] & {
      left: 74% !important;
    }
    html[dir="rtl"] & {
      right: 74% !important;
    }
  }
  @include media-breakpoint-up(xxl) {
    html[dir="ltr"] & {
      left: 80% !important;
    }
    html[dir="rtl"] & {
      right: 80% !important;
    }
  }
  @media screen and (max-width: 1200px) {
    position: fixed !important;
    html[dir="ltr"] & {
      transform: translate(-50%, 0%) !important;
      left: 50% !important;
    }
    html[dir="rtl"] & {
      transform: translate(50%, 0%) !important;
      inset: auto auto 60px 0px !important;
      right: 50% !important;
    }

  }
  .popover-arrow {
    &::before,
    &::after  {
      display: none;
      border: 0 !important;
    }
  }
  .btn-dismiss {
    position: relative;
    top: 15px;
    html[dir="ltr"] & {
      left: 90%;
    }
    html[dir="rtl"] & {
      right: 90%;
    }
  }
  .widget-title {
    margin-top: -20px;
  }
  .widget-action {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-dismiss {
    position: relative;
    z-index: 1020;
  }
}
