@import "../../../assets/styles/utilities/custom-theme";
@import "../../../assets/styles/utilities/mixin";

.board-container {
  .cards-container {
    background-color: var(--bs-gray-200);
    overflow-x: scroll;
    @include scrollbar;
    @include media-breakpoint-up(lg) {
      height: 77vh;
    }
  }
  .empty-board {
    height: 60vh;
  }
  .assignment-status {
    @include border(3px,25px,0px,transparent);
    @include border-start(0);
    &.todo {
      &::before {
        background-color: var(--bs-primary);
      }
    }
    &.in-progress {
      &::before {
        background-color: var(--bs-secondary-rio-grande);
      }
    }
    &.done {
      &::before {
        background-color: var(--bs-primary-dark);
      }
    }
    &.review {
      &::before {
        background-color: var(--bs-danger-dark);
      }
    }
  }
}
.dashboard-ipr-container {
  z-index: 5;
  overflow-x: hidden;
  @include scrollbar;
  height: calc(100vh - 162px);
  overflow-y: auto;
  background-color: var(--bs-white);
  &.expanded {
    .top-info-bar {
      .filing-date {
        @include media-breakpoint-up(lg) {
          @include border(1px,84px,-9px,$border-color);
          @include border-end(0);
        }
        &:before {
          display: none;
        }
      }
    }
  }
  .border-start {
    @include media-breakpoint-down(md) {
      border: none !important
    }
  }
}

.no-assigment {
  height: calc(100vh - 95px);
}
