@import "../../../assets/styles/utilities/custom-theme";
@import "../../../assets/styles/utilities/mixin";

.board-container {
  .cards-container {
    overflow-x: scroll;
    height: 70vh;
    @include scrollbar;
  }
  .empty-board {
    height: 65vh;
  }
}
