@import "../../../assets/styles/utilities/custom-theme";
@import "../../../assets/styles/utilities/mixin";

.patent-card {
  .name-card {
    @include truncate(2);
  }
  &.active , &:hover{
    background: var(--bs-primary-01);
  }
  .icon-wrapper{
    display: none;
  }
  &:hover {
    .icon-wrapper{
      display: block;
    }
  }
}
