@import "../../../src/assets/styles/utilities/variables";
@import "~bootstrap/scss/mixins";

.view-history, .view-activities {
  .query {
    width: 60%;
  }

  .no-history,.no-activity {
    @include media-breakpoint-up(md) {
      height: calc(100vh - 400px);
    }
  }

  .run-query {
    width: 200px;
  }

  .date {
    width: calc(100% - (60% + 200px));
  }
}
