@import"../../../assets/styles/utilities/custom-theme";

.tabs{
  border-bottom: 3px solid $primary;
}

.tab {
  background-color: transparent;
  border: none;
  color: $gray !important;
  padding: 16px;
  border-radius: $border-radius-lg $border-radius-lg 0 0 !important;

  &.active {
    background-color: $primary;
    color: $white !important;
  }

  &:hover, &:focus, &:active {
    background-color: transparent;
    color: $gray !important;

    &.active {
      background-color: $primary;
      color: $white !important;
    }
  }
}
