@import "../../../assets/styles/utilities/custom-theme";

.label {
  color: $gray;
  left: 16px;
  top: 16px;
  font-size: $font-size-sm;
  z-index: 9;

  &.select2{
    left: 0;
  }
}

.smLabel {
  top: 8px;
  font-size: $font-size-xs;
}
