@import "../../../assets/styles/utilities/variables";

.saip-label {
  color: $gray;
  top: 21px;
  font-size: $font-size-sm;
  z-index: 9;
  white-space: nowrap;
  &.top {
    top: 13px;
  }
  html[dir="ltr"] & {
    left: 16px;
  }
  html[dir="rtl"] & {
    right: 16px;
  }

  &.select2 {
    top: 0;

    html[dir="ltr"] & {
      left: 16px;
    }
    html[dir="rtl"] & {
      right: 16px;
    }
  }
}

.smLabel {
  top: 8px;
  font-size: $font-size-xs;
}
