@import "../../../assets/styles/utilities/custom-theme";

.label {
  color: $gray;
  left: 16px;
  top: 16px;
  font-size: $font-size-sm;
  z-index: 9;

  html[dir="rtl"] & {
    left: 0;
    right: 16px;
  }

  &.select2 {
    left: 0;

    html[dir="rtl"] & {
      right: 0;
      left: auto;
    }
  }
}

.smLabel {
  top: 8px;
  font-size: $font-size-xs;
}
