@import "../../assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

.header {
  background-image: url(../../assets/images/search-header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.select {
  @include media-breakpoint-up(xl) {
    width: 200px;
  }
}

span.customLabel {
  left: 154px;

  html[dir="rtl"] & {
    right: 154px;
    left: auto;
  }
}
