@import "../../assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

.workstream-header {
  html[data-bs-theme="light"] & {
    background-image: url(../../assets/images/search-header-bg.svg);
  }
  html[data-bs-theme="dark"] & {
    background-image: url(../../assets/images/search-header-bg-high-contrast.svg);
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
}

.workstream-select {
  @include media-breakpoint-up(xl) {
    width: 200px;
  }
}

span.customLabel {
  html[dir="ltr"] & {
    left: 154px;
  }
  html[dir="rtl"] & {
    right: 154px;
  }
}

.search-box-index {
  div {
    .rounded {
      @extend .mt-10;
    }
  }
}
