@import "../../../assets/styles/utilities/custom-theme";

button.toggle-btn-container {
  width: 50px;
  height: 24px;
  background-color: var(--bs-secondary) !important;
  border-radius: 20px;
  position: relative;
  border: $border-width-md solid var(--bs-primary) !important;

  &:hover,
  &:focus {
    background-color: var(--bs-secondary) !important;
  }

  .toggle-btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: var(--bs-white) !important;
    position: absolute;
    right: 1px;
    left: auto;
    top: 0;

    html[dir="rtl"] & {
      left: 1px;
      right: auto;
    }

    &:hover,
    &:focus {
      background-color: var(--bs-white) !important;
      border-color: var(--bs-primary) !important;
      outline: none;
      box-shadow: none;
    }
  }

  &.off {
    background-color: var(--bs-gray-500);
    border-color: var(--bs-gray-500);

    &:hover,
    &:focus {
      background-color: var(--bs-gray-500);
    }

    .toggle-btn {
      left: 1px;
      right: auto;

      html[dir="rtl"] & {
        left: auto;
        right: 1px;
      }
    }
  }
}
