
@import "../../styles/utilities/custom-theme";

html {
  body {
    // bg color
    .app-bg-primary-10 {
      background-color: var(--bs-primary-10) !important;
    }
    .app-bg-primary-01 {
      background-color: var(--bs-primary-01) !important;
    }
    // text color
    .app-text-primary {
      color: var(--bs-primary) !important;
    }
    .app-text-primary-dark {
      color: var(--bs-primary-dark) !important;
    }
    .app-text-danger {
      color: var(--bs-danger) !important;
    }
    .app-text-danger-dark {
      color: var(--bs-danger-dark) !important;
    }
  }
}
