@import "../../styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

.table.appTable {
  margin-bottom: 0;

  tr:first-of-type {
    @extend.border-top
  }

  th {
    font-family: $font-medium;
    color: $primary-dark;
    font-size: $font-size-base;
    background-color: $white;
    @extend .pe-8;
    @extend .py-8;
    white-space: nowrap;

    html[dir="rtl"] & {
      @extend .ps-8;
      @extend .pe-2;
    }
  }

  td {
    color: $gray-700;
    font-size: $font-size-sm;
    @extend .pt-4;
    @extend .pb-8;

    html[dir="rtl"] & {
      direction: ltr;
      text-align: right;
    }
  }

  tr {
    background-color: #FAFCFB;

    &:nth-child(2n) {
      background-color: $white;
    }
  }

  th,
  td {
    &:first-of-type {

      html[dir="rtl"] & {
        @extend .pe-8;
      }

      html[dir="ltr"] & {
        @extend .ps-8;
      }
    }
  }
}
