@import "../../../src/assets/styles/utilities/custom-theme";
@import "~bootstrap/scss/mixins";

@include media-breakpoint-up(md) {

  .workstream-view {
    border: $border-width solid var(--bs-gray-400);
    border-radius: $border-radius;
    position: relative;
    padding: 32px 32px 0;

    .search-query-inputs {
      display: flex;
      position: relative;

      .fa-trash-can {
        position: absolute;
        top: 34px;

        html[dir="rtl"] & {
          left: 14px;
        }

        html[dir="ltr"] & {
          right: 14px;
        }
      }
    }

    .search-fields-condition {
      width: 60%;

      .search-fields {
        width: 60%;
      }

      .search-query-condition {
        width: 40%;

        html[dir="rtl"] & {
          margin-left: 8px;
        }

        html[dir="ltr"] & {
          margin-right: 8px;
        }
      }
    }

    .search-query-criteria {
      width: calc(40% - 20px) !important;
    }
  }
}


.searchFields{
  width: calc(60% - 20px);
}

.search-query-condition {
  width: 40%;
}

.search-query-wrapper {
  border-radius: $border-radius-lg;

  &:first-of-type {
    border-radius: 0 0 $border-radius-lg $border-radius-lg;

  }

  &:not(:first-of-type){
    .criteria, .dateWrapper, .advancedSearchSelect {
      width: calc(100% - 26px);
    }
  }
}

.roundedTop0 {
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
}

.multiSelect {
  position: relative;

  div[id^="react-select"]  input {
    display: none;
  }

  >div {
    height: 100%;
    width: 100%;
  }

  button {
    height: 100%;
    width: 100%;
    box-shadow: none;
    border: $border-width solid var(--bs-gray-400);
    border-radius: $border-radius;
    @extend .p-4;

    +div {
      z-index: 10 !important;
    }

    .css-1v99tuv {
      color: $gray;
      font-family: $font-regular;
      font-size: $font-size-sm;
    }

    +div {
      border: $border-width solid var(--bs-gray-400) !important;
      @extend .p-4;
      width: 100%;

      [class$="control"] {
        height: 56px;
        border-color: var(--bs-gray-400);
        margin-bottom: 0;
        cursor: text;
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }

        svg {
          color: var(--bs-gray);
        }
      }

      [class$="placeholder"] {
        color: var(--bs-gray);
        font-size: $font-size-sm;
      }

      .css-ik6y5r {
        box-shadow: none;
      }

      [class$="-option"] {
        color: $gray-700;
        font-family: $font-regular;
      }



      .css-1vr111p-option {
        background-color: transparent;

        &:hover {
          background-color: var(--bs-gray-200);
        }

        &::before {
          content: "\f0c8";
          font-family: FontAwesomeRegular;
          font-size: 22px;
          margin-right: 10px;
          color: $gray-400;

          html[dir="rtl"] & {
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }

      .css-1qprcsu-option {
        background-color: transparent;

        &:hover {
          background-color: var(--bs-gray-200);
        }

        &::before {
          content: "\f14a";
          font-family: FontAwesomeSolid;
          color: var(--bs-secondary);
          font-size: 22px;
          margin-right: 10px;

          html[dir="rtl"] & {
            margin-right: 0;
            margin-left: 10px;
          }
        }
      }
    }
  }

  &.smMultiSelect {
    height: 56px;
  }

  .css-1gpjby2 {
    svg {
      color: $gray;
    }
  }

  &.has-value {
    .css-1v99tuv {
      color: $gray-700;
      @extend .mt-4;
    }
  }

  .label {
    z-index: 99;
    color: $gray;
    font-size: $font-size-xs;
    top: 8px;
    left: 16px;
    font-family: $font-regular;

    html[dir="rtl"] & {
      left: auto;
      right: 16px;
    }
  }

  &.error {
    button {
      border: $border-width solid var(--bs-danger);

      &::after {
        content: "\f06a";
        font-family: FontAwesomeSolid;
        color: var(--bs-danger);
        position: absolute;
        right: 41px;
        top: 19px;

        html[dir="rtl"] & {
          left: 41px;
          right: auto;
        }
      }
    }
  }
}

.searchBox {
  .datePickerWrapper + .resetSearch {
    html[dir="ltr"] & {
      right: 115px;
    }
    html[dir="rtl"] & {
      left: 115px;
    }
  }
  &.style_searchWithImage__jbGoX {
    .datePickerWrapper + .resetSearch {
      html[dir="ltr"] & {
        right: 169px;
      }
      html[dir="rtl"] & {
        left: 169px;
      }
    }
  }
}

.search-container{
  .search-disabled{
    html[dir="ltr"] & {
      padding-right: 180px;
      padding-left: 10px;
    }
    html[dir="rtl"] & {
      padding-left: 180px;
      padding-right: 10px;
    }
  }
}

.dashedBorder {
  border: $border-width-md dashed var(--bs-primary);
}

.uploadImageWrapper {
  .error.dashedBorder{
    border-color: var(--bs-danger-dark);
  }

  .image-item {
    border: $border-width solid var(--bs-gray-400);
    border-radius: $border-radius;
    position: absolute;
  }

  .imageView {
    width: 30px;
    height: 25px;
    margin: 10px;
  }
}
.search-box-index {
  .workStreamView {
    .imageView {
      width: 50px;
      height: 45px;

    }
    .image-item {
      top: 140px;
      @include media-breakpoint-up(md) {
        top: 140px;
        html[dir="ltr"] & {
          left: 10px;
        }
        html[dir="rtl"] & {
          right: 10px;
        }
      }
      @include media-breakpoint-up(lg) {
        top: 145px;

      }
      @include media-breakpoint-up(xl) {
        top: 45px;
        html[dir="ltr"] & {
          left: 210px;
        }
        html[dir="rtl"] & {
          right:  210px;
        }
      }
    }
  }
}

.workStreamView {
  &.imgUploaded {
    .image-item {
      @extend .d-block;
    }
  }
  .image-item {
    @extend .d-none;
    top: 91px;
    html[dir="ltr"] & {
      left: 17px;
    }
    html[dir="rtl"] & {
      right: 17px;
    }
    @include media-breakpoint-up(sm) {
      top: 92px;
      html[dir="ltr"] & {
        left: 16px;
      }
      html[dir="rtl"] & {
        right: 16px;
      }
    }
    @include media-breakpoint-up(md) {
      top: 93px;
    }
    @include media-breakpoint-up(lg) {
      top: 49px;
      html[dir="ltr"] & {
        left: 420px;
      }
      html[dir="rtl"] & {
        right:  372px;
      }
    }
    @include media-breakpoint-up(xl) {
      top: 37px;
    }
  }

  @include media-breakpoint-down(sm) {
    margin-top: 60px;
  }

  .dashedBorder {
    padding: 32px 0;
  }
}

.advancedMode{
  input{
    @include media-breakpoint-up(md) {
      padding-left: 150px;

      html[dir="rtl"] & {
        padding-left: auto;
        padding-right: 150px;
      }
    }
  }

  .image-item {
    left: 16px;
    top: 53px;

    html[dir="rtl"] & {
      right: 16px;
      left: auto;
    }

    @include media-breakpoint-down(sm) {
      top: 140px;
      left: 0;

      html[dir="rtl"] & {
        right: 0;
        left: auto;
      }
    }
  }
}
