@import "../../assets/styles/utilities/custom-theme";
@import "../../assets/styles/utilities/mixin";

$fontSize: (
  8,
  12,
  14,
  17,
  20,
  22,
  24,
  26,
  30,
  60
);

@each $fontSize in $fontSize {
  .f-#{$fontSize} {
    font-size: #{$fontSize}px !important;
  }
}

.md-text {
  font-size: $font-size-base;
}

.sm-text {
  font-size: $font-size-sm;
}

.hr {
  border: $border-width solid $gray;
}

.text-underline {
  text-decoration: underline
}

.app {
  padding-top:80px;
  padding-bottom: 50px;
}

.italicText {
  font-style: italic;
}

.container-fluid {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.workStreamResults {
  .fixed-panel-scrolled.search-result {
    html[dir="rtl"] & {
      @extend .pe-4;
    }
  }
  .fixed-panel-scrolled {
    @include scrollbar;
    height: 80vh;
    overflow-y: auto;
    padding-bottom: 150px;
  }
}
