@import "../../../assets/styles/utilities/custom-theme";

.modal-alert {
  svg {
    width: 100%;
  }
}

.warning {
  svg {
    color: $secondary-tangerine;
  }
}

.danger {
  svg {
    color: $danger-dark;
  }
}
