@import "../../../../assets/styles/utilities/custom-theme";

.result-card {
  &:hover, &.active {
    background-color: $primary-01;
  }
}

.patent-img {
  width: 84px;
  height: 111px;

  img {
    width:  84px;
  }
}
