$utilities: (
  // append new heights
  "height-px": (
      property: height,
      class: h-px,
      values: (
        24: 24px,
        39: 39px,
      )
    ),
  "width-px": (
    property: width,
    class: w-px,
    values: (
      65: 65px,
    )
  ),
 );
