@import"../../../assets/styles/utilities/custom-theme";

@mixin border($width,$height,$top,$left,$right,$color) {
  @include media-breakpoint-up(xl) {
    position: relative;
    &::before, 
    &::after {
      content: "";
      width: $width;
      height: $height;
      background:$color;
      position: absolute;
      top: $top;
    }
    &::before {
      html[dir="ltr"] & {
        left: $left;
      }
      html[dir="rtl"] & {
        right: $right;
      }
    }
    &::after {
      html[dir="ltr"] & {
        right: $right;
      }
      html[dir="rtl"] & {
        left: $left;
      }
    }
  }
}

@mixin truncate($lines) {
  max-width: 100%;
  -webkit-line-clamp: $lines;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}


@mixin scrollbar(){
  &::-webkit-scrollbar{
  width: 19px;
  margin-top: 1rem
  }
  &::-webkit-scrollbar-track{
  background: $gray-200;
  border-left: 5px solid $white;
  border-right: 5px solid $white;
  }
  &::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 8px;
  border-left: 5px solid $white;
  border-right: 5px solid $white;
  }
 }
